header, main ,footer ,nav, article, section{
    padding: 10px;
    border: 1px gray solid;
}
header{
    text-align: center;
}
nav{
    
    background-color: rgb(172, 171, 171);
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.kiskep img,.nagykep img{
    width: 100%;
}
.kiskep {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.jobb ul{ 
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-decoration: none;
    list-style: none;
       
    
}
.bal ul{
    
    list-style: none;
}
.bal ul li a{ 
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
    color: crimson;
}

.jobb ul li a{ 
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
    color: crimson;
    
}
.jobb ul li a:hover{
    background-color: crimson;
    color: white;
}
.bal ul li a:hover{
    background-color: crimson;
    color: white;
}

/*reszponzitivas*/
@media screen and (max-width: 800px){
    .kiskep {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .jobb ul{ 
        display: grid;
        grid-template-columns:  1fr ;
           
        
    }
}
@media screen and (max-width: 400px){
    
    .kiskep {
       
        grid-template-columns: 1fr;
        
    }
    nav{
        
        grid-template-columns:  1fr;
    }
}
